#loaderBackground {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	background-color: white;
	z-index: 11;
}

#loaderImage {
	position: absolute;
	margin-top: 10%;
	margin-left: 39%;
}

#loaderRing {
  position: absolute;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border: 16px solid #31A683;
  width: 20%;
  height: 300px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  padding-left: 25%;
  margin-top: 10%;
  margin-left: 34%;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 10;
}

.popup-subset {
	background: white;
	margin-top: 3%;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	padding: 1%;
	background-image: url(../../images/abstractFrame.png);
	background-size: 100% 100%;
	background-repeat: no-repeat
}

.popup-subset > div {
	padding: 1%
}

.birefy-fixed-view-selected {
	background-image: url(../../images/conceptDarkTranslucent.png);
	background-size: cover;
	background-repeat: no-repeat
}

.proceedingAbsolute-fixed-table {
	margin-top: 250px
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: white
}

.fixed-header-scrolling-table tbody {
	position: absolute;
    overflow-y: auto;
    height: 250px;
}

.fixed-header-scrolling-table tr {
	width: 100%;
    table-layout: fixed;
    display: inline-table;
}

.clickableThing {
	cursor: pointer
}

