.status {
	font-size: large;
	padding: 0.5%
}

.details {
	height: 150px;
	max-height: 150px;
}

.table-fixed tbody {
	height: 300px;
	overflow-y: auto
}

.adminButtons {
	border-radius: 5px;
	border: solid 1px #31b0d5
}

.labelsConfined {
	word-wrap: break-word
}

.littlePadding {
	padding: 1%
}