#inventory-dialogue {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
}

#dialogue {
	background: white;
	margin-top: 3%;
	height: 65%;
	overflow-y: auto;
	overflow-x: hidden
}