#image-pane {
	height: 400px;
	overflow: auto
}

#selected-image {
	height: 90%;
	width: auto
}

#search-form-container {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0; 
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
}

#fullScreenImageContainer {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0; 
	z-index: 1;
	background-color: white;
}

#search-form {
	width: 90%;
	margin: auto;
}

.form-backdrop {
	background: white;
	margin-top: 3%;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	padding-top: 1%;
	padding-bottom: 1%
}

#messageContent {
	width: 70%
}

.criteria-input {
	width: 50%
}
