.graphic-frame {
	height: 550px;
	overflow: auto
}

#selected-graphic {
	height: 90%;
	width: auto
}

#searchDialogue {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
}

#search-form-container {
	width: 60%;
	margin-top: 3%;
	margin-left: auto;
	margin-right: auto;
	padding: 1%;
	background-color: white
}

#message-dialogue {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
}

#contact-background {
	width: 80%;
	background-color: white;
	margin-top: 4%;
	margin-left: auto;
	margin-right: auto;
	padding: 1%
}
