.graphic-frame {
	height: 60%;
	width: 45%;
	overflow: scroll;
	position: fixed;
	margin-top: 2%
}

#selected-graphic {
	height: 100%;
}

#uploadDialogueContainer {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
}

#updateTagsContainer {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
}

#uploadDialogue {
	background: white;
	margin-top: 3%;
	height: auto;
	padding: 1%;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#updateTagDialogue {
	background: white;
	margin-top: 3%;
	padding: 1%;
	height: auto;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

