html {
	height: 100%
}

#homeNavigation {
	/*background-color: #e3f2fd;*/
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	font-size: x-large;
	background: none;
}

.navigationButtons {
	background-color: inherit;
	-webkit-appearance: menulist-text;
	text-decoration: inherit;
	padding-top: 5%;
	border: none
}

#logo {
	padding-top: 6%;
	padding-bottom: 1%;
	width: 75%
}

.linkRows {
	padding: 1%
}

#tidingText {
	width: 25%
}

@media (max-width: 700px) {
	#tidingText {
		width: 60%
	}
	
	#logo {
		width: 100%
	}
}