#contact-develper-dialogue {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
}

#contact-developer-form {
	background: white;
	margin-top: 3%;
	height: 50%
}

#messageContent {
	width: 70%
}

body {
	background: url("../images/asymetricBackground.png") no-repeat;
	background-size: 100% 100%
}