.full-width {
	width: 100%
}

.conceptLabel {
	float: right
}

.conceptRowPadding {
	padding-top: 1%;
	padding-bottom: 1%;
}

.conceptName {
	border-radius: 5px;
	border: solid 1px #ccc
}

.tagTextBox {
	margin-right: 6%
}
