.overlay-background {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
}

.dialogue {
	background: white;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	max-height: 90%;
	overflow-y: auto;
	overflow-x: hidden
}