#uploadDialogueContainer {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
}

#uploadDialogue {
	background: white;
	margin-top: 3%;
	padding: 1%;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#editTagListContainer {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
}

#editTagDialogue {
	background-image: url(../images/abstractSegmentCenter.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	color: white;
	margin-top: 3%;
	height: 40%;
	padding: 1%;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#modifiableTagDisplay {
	height: 45%;
}
