#visualizationDialogue {
	border: solid;
	height: 350px
}

#sendMessageForm {
	display: none;
	padding: 1%
}

#sendMessageForm > textarea {
	width: 80%
}

#speaker-box {
	width: 100%;
	padding: 2%;
	background-image: url(../images/invertedMidConceptImage.png); 
	background-repeat: no-repeat; 
	background-size: cover;
	border: solid;
	border-top-width: 50px;
	border-bottom-width: 50px;
	margin-top: 10%;
	margin-bottom: 10%
}

#contactCreator {
	margin: auto
}