.pos-right {
	float: right
}

.padded {
	padding: 1%
}

#questionUrl {
	word-wrap: break-word
}

.standardButton {
	color: #333;
	border: 1px solid transparent;
	border-radius: 4px;
	padding: 5px
}

.customRowPadding {
	margin: 1.5%
}

.popup-background {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
}

.dialogue {
	background: white;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
	max-height: 90%;
	overflow-y: auto;
	overflow-x: hidden
}