.selectedBulletin {
	background-color: #e3f2fd
}

#myTiding {
	width: 90%
}

#submitTiding {
	width: 8%
}

#edit-group-overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
}

#create-bulletin-overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
}

#view-user-bulletins-overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0; 
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
}

#view-user-bulletins-subset {
	background: white;
	margin-top: 3%;
	height: 80%;
	overflow: auto
}

#user-bulletins-table {
	width: 90%;
	margin: auto
}

#user-bulletins {
	font-weight: bolder;
	color: gray
}

#groupCreator {
	background: white;
    width: 40%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    padding: 1%
}

#bulletinCreator {
	background: white;
	width: 40%;
	height: 30%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	padding: 1%
}

#nextBulletin {
	float: right
}

#previousBulletin {
	float: left
}

.p1 {
	padding-top: 1%;
	padding-bottom: 1%
}

.caretButton{
    border: none;
    overflow: hidden;
    outline: none;
    padding: unset;
    background-color: transparent
}

.dropDownButton {
    border: none;
    background-color: inherit;
    width: 100%
}

.shift-left-100 {
	margin-left: -100px
}

#bulletin-view-close {
	position: fixed;
	width: inherit;
	bottom: 5%
}

