<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="eng">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Birefy</title>
<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
<link rel="stylesheet" href="/css/external/bootstrap.min.css"
	type="text/css" />
<link rel="stylesheet" href="/css/innovation.css" type="text/css" />
<link rel="stylesheet" href="/css/global/birefy-global-style.css" type="text/css"/>
<script type="text/javascript" th:inline="javascript">
	var url = [[${url}]];
	var title = [[${title}]];
	var userTidingId = [[${userTidingId}]];
	var contributorDetails = [[${contributorDetails}]];
	var questionSkills = [[${questionSkills}]];
</script>
</head>
<body>
	<div class="container-fluid">
		<!-- Display the question title -->
		<div class="row" style="margin-top: 3px">
			<div class="col-sm-10">
				<h4 th:text="${title}" class="text-center"></h4>
			</div>
			<div class="col-sm-2">
				<form th:if="!${userTidingId}" th:action="@{/login}">
					<input class="btn btn-info" id="loginButton" type="submit" value="Login" />
				</form>
				<form th:if="${userTidingId}" th:action="@{/logout}" method="post">
					<input class="btn btn-default" id="logoutButton" type="submit" value="Logout" />
				</form>
			</div>
		</div>
		<!-- Display the project to the question -->
		<div class="row">
			<iframe th:src="${url}" style="width: 100%; height: 600px; background: white"></iframe>
		</div>
		<!-- Footer with home link -->
		<footer class="footer text-center">
			<div class="container">
				<div class="row">
					<div class="btn-group dropup">
						<button type="button" data-toggle="dropdown" class="btn btn-secondary dropdown-toggle">Show Question Details</button>
						<div class="dropdown-menu container" style="width: 300px; overflow-x: auto">
							<div class="col-md-12">
								<div class="row">
									<h6 class="text-center">Skills and Technologies Used</h6>
								</div>
								<div class="row">
									<p id="skillsAndTechnologiesForQuestion">None Set</p>
								</div>
							</div>
						</div>
					</div>
					<span>
						<a href="/home">Home</a> <img
						src="/images/birefySymbol.svg" height="60" width="60"></img> <a
						href="/questions">Back To Questions</a>
						<button class="btn btn-secondary" th:if="${userTidingId}" id="contactProgrammer"
							onclick="contactDevelopers()">Contact Programmer</button>
						<button class="btn btn-secondary" th:if="!${userTidingId}"
							title="You must be logged in to contact developers." disabled>Contact
							Programmer</button>
					</span>
				</div>
			</div>
		</footer>
		<div id="contact-develper-dialogue" class="container" style="display: none">
			<div class="container text-center" id="contact-developer-form" style="background-image: url(images/abstractCornerLeft.png); 
				background-size: 100% 100%; background-repeat: no-repeat">
				<div class="row">
				<h3>Developer Details</h3>
				<table class="table">
					<thead>
						<tr>
							<th>Contributor</th>
							<th>Details</th>
							<th>Skills</th>
						</tr>
					</thead>
					<tbody id="contributor-list">
						<tr>
							<td cols="2">No Details</td>
						</tr>
					</tbody>
				</table>
				</div>
				<div>
					<form id="sendMessageForm" class="form-inline"
					action="javascript:;" onsubmit="sendMessageToProgrammer()">
						<textarea id="messageContent" class="form-control" type="text"
							rows="2" placeholder="Type message here..."></textarea>
						<button id="sendMessage" type="submit" class="btn btn-default">Send</button>
						<button type="button" onclick="closeMessageDialogue()"
							class="btn btn-warning">Cancel</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script src="/js/external/jquery-3.1.1.js" type="text/javascript"></script>
	<script src="/js/external/sockjs.min.js" type="text/javascript"></script>
	<script src="/js/external/stomp.js" type="text/javascript"></script>
	<script src="/js/external/bootstrap.js" type="text/javascript"></script>
	<script src="/js/utilities/birefy-utils.js" type="text/javascript"></script>
	<script src="/js/digital-innovation.js" type="text/javascript"></script>
	<script src="/js/utilities/birefy-info-boxes.js" type="text/javascript"></script>
	
	<div class="container" id="loaderBackground">
		<div class="row text-center">
			<h3 style="color:#31A683"><i>Loading ...</i></h3>
		</div>
		<div class="row text-center">
			<div id="loaderRing"></div>
		</div>
		<img id="loaderImage" src="/images/birefySymbol.svg" height="275" width="15%">
	</div>
</body>
</html>