<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
	<title>Birefy</title>
	<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
	<link rel="stylesheet" href="/css/external/bootstrap.min.css"
	type="text/css" />
</head>
<body>
	<div class="container">
		<div class="row text-center" style="padding-top:15%">
			<h1>Sign In</h1>
		</div>
		<br/>
		<div th:each="url : ${urls}" class="row text-center">
			<label>
				Using: 
				<a class="btn btn-info" th:text="${url.key}" th:href="${url.value}"></a>
			</label>
		</div>
		<br/>
		<footer class="footer">
			<div class="text-center">
				<a href="/home" title="Home">
					<img src="/images/birefySymbol.svg" height="120" width="120"></img>
				</a>
			</div>
		</footer>
	</div>
</body>
</html>