<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Birefy</title>
<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
<link rel="stylesheet" href="/css/external/bootstrap.min.css" type="text/css"/>
</head>
<body>
	<div class="container">
		<div class="row text-center" style="margin-top: 10%">
			<h1 th:text="${message}"></h1>
		</div>
		<div class="row text-center">
			<span>
				<a href="/home">Home</a>
				<img src="/images/birefySymbol.svg" height="100" width="100" />
				<a th:text="${redirectLocation}" th:href="@{/} + ${redirectURL}"></a>
			</span>
		</div>
	</div>
</body>
</html>